.parent {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  height: 400px;
  /* background-color: #f0f0f0; */
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  /* background: lightblue; */
  
}

.right {
  position: absolute;
  right: 0;
  bottom: 0;
  /* background: lightgreen; */
  padding: 10px;
}

.table-scroll-container {
  max-height: 400px; 
  overflow-y: auto;
  /* border: 1px solid #ddd; */
}